.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0; /* Grey background */
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.features h2,
.contact-info h2,
.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: orange; /* Orange details */
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features ul li {
  margin-bottom: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.newsletter p {
  margin-bottom: 20px;
  color: orange; /* Orange details */
}
