.home-container {
  width: calc(100% - 184px);
  height: calc(100% - 140px);
  margin: 0 auto;
  padding: 0px;
  background-color: #f4f4f4;
  background-image: "/src/assets/complete-logo.jpg";
  overflow-y: auto;
  color: rgb(80, 76, 76);
  /* display: flex; */
  justify-content: center;
}

.image-home {
  opacity: 0.5;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.features h2,
.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ed6b0e; /* Orange details */
}

.contact-info h2 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #ed6b0e; /* Orange details */
}

.features ul {
  list-style-type: lower-greek;
  padding: 0;
}

.features ul li {
  margin-bottom: 10px;
}

.logo img {
  max-width: 225px;
  height: auto;
  margin-top: 20px;
  justify-content: center;
}

.contact-info {
  padding: 0 0 0 1000px;
  font-size: 11px;
  margin-bottom: 10px;
}
