.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 184px);
  height: calc(100% - 191px);
  background-color: #fff; /* Orange background */
}

.not-found-container h1,
.not-found-container p {
  text-align: center;
  color: #ed6b0e; /* White text color */
  font-size: 33px;
  margin: 0;
}

.ntf-img {
  width: 284px;
  height: 309px;
}
