.AddProduct-container {
  padding: 20px;
  /* position: fixed; */
  right: 0;
  width: calc(100% - 400px);
  height: calc(100% - 224px);
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
}

.AddProduct-labels {
  padding: 10px 20px;
  background-color: #f4f4f4;
  border: 2px #dad6d6 solid;
  border-radius: 5px;
  margin: 5px 112px;
}
.AddProduct-container h2 {
  font-size: 16px;
  line-height: 1.5;
}

.AddProduct-container p {
  color: #ed6b0e; /* Orange text */
  font-size: 16px;
  line-height: 1.5;
}

.AddProduct-container label {
  color: #ed6b0e; /* Orange text for labels */
}

.AddProduct-container input[type="text"],
.AddProduct-container input[type="url"] {
  border: 1px solid #ed6b0e; /* Orange border for input fields */
  padding: 5px;
  margin-bottom: 10px;
}

.AddProduct-container button[type="submit"] {
  background-color: orange; /* Orange button background */
  color: white; /* White button text color */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 20px;
}

.AddProduct-container button[type="submit"] {
  background-color: #ff7f00; /* Darker shade of orange on hover */
}
