.ProductDetail-container {
  padding: 20px;
  position: fixed;
  right: 0;
  width: 450px;
  height: calc(100% - 200px);
  background-color: #f4f4f4;
  overflow-y: auto;
}

.ProductDetail-container h2 {
  color: orange; /* Orange text */
}

.ProductDetail-container input[type="text"],
.ProductDetail-container input[type="number"] {
  border: 1px solid orange; /* Orange border for input fields */
  padding: 5px;
  margin-bottom: 10px;
}

.ProductDetail-container img.product-img-detail {
  border: 2px solid orange; /* Orange border for the product image */
  margin-top: 10px;
}
