.middle-page {
  position: fixed;
  width: 100%;
  top: 101px; /* Height of the navbar */
  bottom: 50px; /* Height of the footer */
  /* overflow-y: auto; Enable scrolling if content exceeds sidebar height */
  display: flex;
  /* flex-direction: row; */
}

/*  End main parts of the page   */

/* check what this code does for the navbar components ----*/
.btn-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.btn-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.btn-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .btn-logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* End - check what this code does for the navbar components */
